streamlit>=1.27.0
requests>=2.31.0
PyPDF2>=3.0.0
langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0
langchain-huggingface>=0.1.0
sentence-transformers>=2.2.2
huggingface-hub>=0.16.4  # Added to resolve missing snapshot_download
torch>=1.6.0
transformers>=4.30.0  # Ensure compatibility with HuggingFaceEmbeddingss
protobuf>=3.19.0,<3.21.0  # Downgrade to avoid 'Descriptors cannot be created directly' issue
pysqlite3-binary 
chromadb==0.4.17

